certifi==2026.6.17
charset-normalizer==3.4.7
colorama==0.4.6
filetype==1.2.0
idna==3.18
iniconfig==2.3.0
packaging==26.2
pillow==12.3.0
pluggy==1.6.0
Pygments==2.20.0
pystray==0.19.5
pytest==9.1.1
requests==2.34.2
six==1.17.0
urllib3==2.7.0
watchdog==6.0.0
